pkgbase = sgg
	pkgdesc = Identify pathogen genotypes and predict pathogenicity from nucleotide sequences
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Soupirr/sgg
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pandas
	depends = python-plotly
	depends = python-biopython
	depends = mafft
	depends = fasttree
	depends = iqtree
	source = sgg-0.1.0.tar.gz::https://github.com/Soupirr/sgg/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = b751e59bdabbce326c947ab07b928b8b8e7c272f75bc05a99bed6a4377d61c76

pkgname = sgg
